<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.ooweat.coupon.mappers.ConfigMapper">
  <select id="findAllConfigs" resultType="kr.co.ooweat.coupon.domain.CouponConfig">
    SELECT SEQ,
           COMPANY_SEQ           AS COMPANYSEQ,
           ORGAN_SEQ             AS ORGANSEQ,
           PAYMENT_TYPE          AS PAYMENTTYPE,
           REMAIN_POINT          AS REMAINPOINT,
           ISSUANCE_LIMIT_DAYS   AS ISSUANCELIMITDAYS,
           FIXED_USABLE_COUNT    AS FIXEDUSABLECOUNT,
           FIXED_ISSUANCE_AMOUNT AS FIXEDISSUANCEAMOUNT,
           MERCHANT_NAME         AS MERCHANTNAME,
           BIN_CODE              AS BINCODE,
           USE_YN                AS USEYN,
           CREATE_DATE           AS CREATEDATE,
           MODIFY_DATE           AS MODIFYDATE
    FROM TB_COUPON_CONFIG
  </select>
  <select id="findAllByOrganSeq" parameterType="Long"
    resultType="kr.co.ooweat.coupon.domain.CouponConfig">
    SELECT SEQ,
           COMPANY_SEQ           AS COMPANYSEQ,
           ORGAN_SEQ             AS ORGANSEQ,
           PAYMENT_TYPE          AS PAYMENTTYPE,
           REMAIN_POINT          AS REMAINPOINT,
           ISSUANCE_LIMIT_DAYS   AS ISSUANCELIMITDAYS,
           FIXED_USABLE_COUNT    AS FIXEDUSABLECOUNT,
           FIXED_ISSUANCE_AMOUNT AS FIXEDISSUANCEAMOUNT,
           MERCHANT_NAME         AS MERCHANTNAME,
           BIN_CODE              AS BINCODE,
           USE_YN                AS USEYN,
           CREATE_DATE           AS CREATEDATE,
           MODIFY_DATE           AS MODIFYDATE
    FROM TB_COUPON_CONFIG
    WHERE ORGAN_SEQ = #{organSeq}
  </select>
  <update id="save" parameterType="kr.co.ooweat.coupon.domain.CouponConfig">
    INSERT INTO TB_COUPON_CONFIG (COMPANY_SEQ, ORGAN_SEQ, PAYMENT_TYPE, REMAIN_POINT,
                                  ISSUANCE_LIMIT_DAYS, FIXED_USABLE_COUNT, FIXED_ISSUANCE_AMOUNT,
                                  MERCHANT_NAME,BIN_CODE, USE_YN, CREATE_DATE)
    VALUES (#{companySeq}, #{organSeq}, #{paymentType}, #{remainPoint},
            #{issuanceLimitDays},
            #{fixedUsableCount}, #{fixedIssuanceAmount}, #{merchantName}, #{binCode}, #{useYn},
            NOW()) ON DUPLICATE KEY
    UPDATE
      COMPANY_SEQ = #{companySeq},
      ORGAN_SEQ = #{organSeq},
      PAYMENT_TYPE = #{paymentType},
      REMAIN_POINT = #{remainPoint},
      ISSUANCE_LIMIT_DAYS = #{issuanceLimitDays},
      FIXED_USABLE_COUNT = #{fixedUsableCount},
      FIXED_ISSUANCE_AMOUNT = #{fixedIssuanceAmount},
      MERCHANT_NAME = #{merchantName},
      BIN_CODE = #{binCode},
      USE_YN = #{useYn},
      MODIFY_DATE = NOW()
  </update>
  <delete id="delete" parameterType="Long">
    DELETE
    FROM TB_COUPON_CONFIG
    WHERE SEQ = #{seq}
  </delete>
  <update id="consumeCoin" parameterType="Long">
    UPDATE TB_COUPON_CONFIG
    SET REMAIN_POINT = #{consumePoint}
    WHERE COMPANY_SEQ = #{companySeq}
  </update>
</mapper>
