<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.ooweat.coupon.mappers.IssuanceMapper">
  <select id="findByCouponNo" parameterType="string"
    resultType="boolean">
    SELECT IF(COUNT(*) = 1, 1, 0)
    FROM TB_COUPON_ISSUANCE
    WHERE COUPON_NO = #{couponNo}
  </select>
  <select id="findAllIssuances" resultType="kr.co.ooweat.coupon.domain.Issuance">
    SELECT SEQ,
           COMPANY_SEQ     AS COMPANYSEQ,
           ORGAN_SEQ       AS ORGANSEQ,
           MEMBER_SEQ      AS MEMBERSEQ,
           ISSUANCE_DATE   AS ISSUANCEDATE,
           EXPIRE_DATE     AS EXPIREDATE,
           COUPON_NO       AS COUPONNO,
           ISSUANCE_AMOUNT AS ISSUANCEAMOUNT,
           REMAIN_AMOUNT   AS REMAINAMOUNT,
           REMAIN_COUNT    AS REMAINCOUNT,
           STATUS          AS STATUS,
           SEND_TYPE       AS SENDTYPE,
           SEND_INFO       AS SENDINFO,
           SEND_COUNT      AS SENDCOUNT,
           CREATE_DATE     AS CREATEDATE,
           MODIFY_DATE     AS MODIFYDATE
    FROM TB_COUPON_ISSUANCE
  </select>
  <select id="findAllByCompanyWithOrgan" parameterType="kr.co.ooweat.coupon.application.dto.IssuanceRequest"
    resultType="kr.co.ooweat.coupon.domain.Issuance">
    SELECT A.SEQ,
    C.NAME AS COMPANYNAME,
    O.NAME AS ORGANNAME,
    M.NAME AS MEMBERNAME,
    A.ISSUANCE_DATE AS ISSUANCEDATE,
    A.EXPIRE_DATE AS EXPIREDATE,
    A.COUPON_NO AS COUPONNO,
    A.COUPON_TYPE AS COUPONTYPE,
    A.ISSUANCE_AMOUNT AS ISSUANCEAMOUNT,
    A.REMAIN_AMOUNT AS REMAINAMOUNT,
    A.REMAIN_COUNT AS REMAINCOUNT,
    A.STATUS AS STATUS,
    A.SEND_TYPE AS SENDTYPE,
    A.SEND_INFO AS SENDINFO,
    A.SEND_COUNT AS SENDCOUNT,
    A.CREATE_DATE AS CREATEDATE,
    A.MODIFY_DATE AS MODIFYDATE
    FROM TB_COUPON_ISSUANCE A
    LEFT JOIN TB_COMPANY C ON A.COMPANY_SEQ = C.SEQ
    LEFT JOIN TB_ORGANIZATION O ON A.ORGAN_SEQ = O.SEQ
    LEFT JOIN TB_MEMBER M ON A.MEMBER_SEQ = M.SEQ
    WHERE 1=1
    AND DATE_FORMAT(A.ISSUANCE_DATE, '%Y%m%d') BETWEEN #{startDate} AND #{endDate}
    AND A.COMPANY_SEQ = ${companySeq}
    <if test="@kr.co.ooweat.utils.Util@notEmpty(organSeq)">
      -- 하위 계층에 속하는 모든 조직 조회
      AND A.ORGAN_SEQ IN (SELECT A.SEQ
      FROM TB_ORGANIZATION A
      INNER JOIN (WITH RECURSIVE CTE AS (SELECT ${organSeq} AS SEQ
      UNION
      SELECT B.SEQ
      FROM TB_ORGANIZATION B
      INNER JOIN CTE ON B.PARENT_SEQ = CTE.SEQ)
      SELECT SEQ
      FROM CTE) WR ON A.SEQ = WR.SEQ)
    </if>

  </select>
  <insert id="issuance" parameterType="kr.co.ooweat.coupon.domain.Issuance">
    INSERT INTO TB_COUPON_ISSUANCE (COMPANY_SEQ, ORGAN_SEQ, MEMBER_SEQ, ISSUANCE_DATE, EXPIRE_DATE,
                                    COUPON_NO, COUPON_TYPE,
                                    ISSUANCE_AMOUNT, REMAIN_AMOUNT, REMAIN_COUNT, STATUS, SEND_TYPE,
                                    SEND_INFO, SEND_COUNT)
    VALUES (#{companySeq}, #{organSeq}, #{memberSeq}, #{issuanceDate}, #{expireDate},
            CONCAT(#{couponNo}, (nextval('COUPON'))), #{couponType},
            #{issuanceAmount}, #{remainAmount}, #{remainCount}, #{status}, #{sendType},
            #{sendInfo}, #{sendCount}) ON DUPLICATE KEY
    UPDATE
      COMPANY_SEQ = #{companySeq},
      ORGAN_SEQ = #{organSeq},
      MEMBER_SEQ = #{memberSeq},
      ISSUANCE_DATE = #{issuanceDate},
      EXPIRE_DATE = #{expireDate},
      COUPON_TYPE = #{couponType},
      ISSUANCE_AMOUNT = #{issuanceAmount},
      REMAIN_AMOUNT = #{remainAmount},
      REMAIN_COUNT = #{remainCount},
      STATUS = #{status},
      SEND_TYPE = #{sendType},
      SEND_INFO = #{sendInfo},
      SEND_COUNT = #{sendCount},
      MODIFY_DATE = NOW()
      <selectKey keyProperty="couponNo" resultType="string" order="AFTER">
          SELECT COUPON_NO AS COUPONNO
          FROM TB_COUPON_ISSUANCE
          WHERE ISSUANCE_DATE = #{issuanceDate} AND EXPIRE_DATE = #{expireDate}
          AND COUPON_NO LIKE CONCAT(#{couponNo}, '%')
      </selectKey>
  </insert>
  <update id="updateStatusByCouponNo" parameterType="kr.co.ooweat.coupon.domain.Issuance">
    UPDATE TB_COUPON_ISSUANCE
    SET STATUS = #{status},
        MODIFY_DATE = NOW()
    WHERE COUPON_NO = #{couponNo}
  </update>
  <update id="addSendCountByCouponNo" parameterType="String">
    UPDATE TB_COUPON_ISSUANCE
    SET SEND_COUNT = SEND_COUNT + 1,
        MODIFY_DATE = NOW()
    WHERE COUPON_NO = #{couponNo}
  </update>
</mapper>
